* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
p {
  color: rgb(255, 255, 255);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ecc204;
  color: rgb(0, 0, 0);
  padding: 8px 30px;
  margin: 30px 0;
  border: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: rgb(255, 255, 255);
}
.header {
  background: rgb(7, 45, 80);
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px o;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
}
.title::after {
  content: "";
  background: rgb(161, 95, 7);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.col-4:hover{
  transform: translateY(-5px)
}
.offer{
  background: radial-gradient(rgb(121, 121, 216),rgb(10, 50, 87));
  margin-top: 80px;
  padding: 30px 0;
}
